html, body {
    height: 100%; /* Volle Höhe des Bildschirms */
    margin: 0; /* Kein Rand */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden; /* Verhindert das Scrollen */
}


header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.form-group {
    margin-bottom: 20px; /* Abstand zwischen den Form-Gruppen */
}

.form-control {
    width: 100%; /* Volle Breite */
    padding: 12px; /* Innenabstand */
    margin-top: 5px; /* Abstand über den Eingabeelementen */
    border: 1px solid #ccc; /* Rahmen */
    border-radius: 4px; /* Abgerundete Ecken */
    box-sizing: border-box; /* Padding und Border in die Breite einbeziehen */
}

.btn {
    background-color: #191a19; /* Hintergrundfarbe für den Button */
    color: white; /* Textfarbe für den Button */
    padding: 12px; /* Innenabstand */
    border: none; /* Kein Rahmen */
    border-radius: 4px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger-Cursor */
    width: 100%; /* Volle Breite */
    font-size: 16px; /* Schriftgröße */
}

.btn:hover {
    background-color: #45a049; /* Dunklere Farbe beim Hover */
}


.container {
    flex: 1;
    width: 100%; 
    padding: 10px; 
    background-color: #f1ebeb; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}